#navigator{
    height:40px;
    position:fixed;
    left:0;top:0;right:0;
    background:rgba(0,0,0,0.03);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

#rail{
    width:300px;
    position:fixed;
    right:0;top:41px;bottom:0;
    background:rgba(0,0,0,0.03);
    border-left: 1px solid rgba(0,0,0,0.05);
}

#webview{
      position: fixed;
      top:41px;left:0;right:301px;bottom:0;
}

h1,h2{
    font-family:Helvetica;
    font-weight:200;
}

textarea:focus, input:focus{
    outline: none;
}

#stash{
    position:fixed;
    top:41px;left:0px;right:0px;bottom:0px;
    background-color: #f0f0f0;
    visibility:hidden;
}